# -- CLEAN
tmp/

# tsc will sometimes make these
tsconfig.tsbuildinfo

# use yarn by default, so ignore npm
package-lock.json

# never checkin npm config
.npmrc

# debug logs
npm-error.log
yarn-error.log
lerna-debug.log

# compiled source
oclif.manifest.json

# test artifacts
*xunit.xml
*checkstyle.xml
*unitcoverage
.nyc_output
coverage
test_session*

# generated docs
docs

# ignore sfdx-trust files
*.tgz
*.sig
package.json.bak.

# -- CLEAN ALL
*.tsbuildinfo
.eslintcache
.wireit
node_modules

# --
# put files here you don't want cleaned with sf-clean

# compiled source -- sf-clean doesn't like entries starting with / and we don't want to exclude
# src/lib, so clean this manually
/lib

# sf-install will always create this file, which always takes precendent over .prettierrc.js, which
# is the only way to extend/override a prettier configuration, so make sure it doesn't get checked in
/.prettierrc.json

# os specific files
.DS_Store
.idea
*.swp
.sfdx
